<h3>Did you know?</h3>

<article class="holder_news">
    <h4>Help Your Studio Clients</h4>
    <p>Turn your beautiful studio portraits into a unique Heirloom gift for your clients.</p>
</article>

<article class="holder_news">
    <h4>Photography Studios</h4>
    <p>Kimbra ClickPLUS offers a program that many studios find to be the perfect add-on sale for their clients.
        Gorgeous heirloom quality jewelry featuring your beautiful portraits.
        Clients then become walking billboards to help you spread the word of your business.
        If you are interested in applying for the program, return to the main site and click Register.
        Submit your email address and ClickPLUS will setup your customized Minisite to get you started.</p>
</article>