<h3>Did you know?</h3>

<article class="holder_news">
    <h4>Help Your Studio Clients</h4>
    <p>Turn your beautiful studio portraits into a unique Heirloom gift for your clients.</p>
</article>

<article class="holder_news">
    <h4>Photography Studios</h4>
    <p>Kimbra ClickPLUS offers a Professional Photographer Program that many studios find to be the perfect add-on sale for their clients.
        Clients then become walking billboards to help you gain future customers.
        If you are interested in applying for the program,
        please Click the Register button and Submit your email address become a member and get started.</p>
</article>