<h1>Editing admin_customer_item_side</h1>

<%= render 'form' %>

<%= link_to 'Show', @admin_customer_item_side, class: "btn btn-primary" %> |
<%= link_to 'Back', admin_customer_item_sides_path, class: "btn btn-primary" %>
