<% if is_client? %>
    <!-- only clients allowed to upload and select new piece -->
    <div class='row'>
      <p>
      <%= button_to(t('.upload_photo.name'), minisite_email_portraits_path(@admin_customer_email),
                    method: :get, title: t('.upload_photo.title')) %>
      <%= button_to(t('.new_offer.name', size: Admin::Merchandise::Piece.inventory_size.to_words),
                    new_minisite_email_offer_path(@admin_customer_email),
                    method: :get, title: t('.new_offer.title')) %>

      </p>
    </div>

<% elsif is_admin? %>
    <div class='row'>
        <% btn_message = @admin_customer_email.sent_at? ? "This email already sent on #{time_short_index @admin_customer_email.sent_at}. Click to send again." : 'If all offers are fixed, click me to send the offer email!' %>
        <%= button_to btn_message, send_offers_admin_customer_email_url(@admin_customer_email), method: :post %>
    </div>
<% end %>
<br>