<h2>About <%= @studio.name %></h2>

<table width="500" cellspacing="0" cellpadding="4" border="0" bgcolor="#dee299" align="center">
  <tbody>
  <tr>
    <td align=center colspan=2>
      *** TODO imagine thumbs of offers here ***
    </td>
  </tr>
  <tr>
    <td align=center>
      <div style="text-align:center;width:100%">
        <div style="width:300px; text-align:left;margin:auto;">
          <p>These are hand-crafted individual pieces of photo jewelry. Each piece is solid sterling silver or pewter,
            and is completely waterproof.</p>

          <p><%= @studio.name %> has suggested some special pictures from your recent photo shoot to be created
            into personal pieces of jewelry.</p>

          <p>Kimbra Studios is the pioneer in this field and will be doing the hand-crafting at our direction. We love
            their work and are proud to partner with them to bring you this jewelry.</p>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>