<h1>Collection</h1>

<table border='0'>
  <% @admin_customer_email.offers.each do |offer| %>
      <tr>
        <td>
          Offers at <%= link_to "BUY ME!", offer_minisite_showroom_url(offer) %>
        </td>
        <td>
          <%= render 'admin/customer/offers/show', :offer => offer %>
        </td>
      </tr>
  <% end %>
</table>