<h1>Collection</h1>

<table border='0'>
  <% @showrooms.each do |showroom| %>
      <tr>
        <td>
          Offers at <%= minisite_showroom_url(showroom.offer.showroom.to_param) %>
        </td>
        <td>
          <%= render 'admin/customer/offers/show', :offer => showroom.offer %>
        </td>
      </tr>
  <% end %>
</table>