<div class='shopping-item-index'>
  You have <span id="cart_count"><%= @cart.try(:items).try(:size) %></span> pieces in your cart.

  <% url = if @cart.purchase.present?
             edit_shopping_cart_purchase_path(@cart)
           elsif @cart.address.present?
             new_shopping_cart_purchase_path(@cart)
           else
             new_shopping_address_path
           end %>
  <% if @cart.try(:items).try(:size).to_i > 0 %>
      <%= link_to 'Checkout', url, :class => 'button-link' %>
  <% end %>
</div>
<br>
<div class='cart-show'>
  <%= render('shopping/items/index', :items => @cart.items)if @cart.try(:items).try(:size).to_i > 0 %>
</div>
