<% pieces = Admin::Merchandise::Piece.for_chains.all %>
<% pieces.sort { |a, b| a.width.to_i <=> b.width.to_i }.each do |piece| %>
    <div class="row">
      <% @shopping_item = Shopping::Item.new(piece_id: piece.id, :cart => @cart) %>
      <%= render 'minisite/image_piece', piece: piece, studio: @studio, offer: @admin_customer_offers.first %>

    </div>
<% end %>

