<div class='side-menu'>
  <table>
    <tr>
      <td>Kimbra Piece:</td>
      <td><%= div_image_offer(@part.piece) %></td>
    </tr>
    <tr>
      <td>Kimbra Part:</td>
      <td><%= div_image_offer(@part, :image => :image_part) %></td>
    </tr>
  </table>
</div>
