<div class="row span10">
  <h2><%= t(:admin_merchandise_parts_new_title) %></h2>

  <%= render 'form' %>

</div>

<div class="span3">
  <%= link_to t(:back), admin_merchandise_piece_parts_path(@piece), class: 'btn btn-primary' %>
</div>
