<h2><%= t(:admin_merchandise_parts_new_title) %></h2>
<div class="platypus-form-container">

  <%= render 'form' %>

  <div class="clear-both"></div>

  <%= link_to t(:back), admin_merchandise_piece_parts_path(@piece), class: "btn btn-primary" %>

</div>