div.item-side-edit {
  width: 100%;
  table {
    width: 100%;
  }
}

div.preview {
  width: 100%;
  table {
    width: 100%;
    #part_item_preview {
      overflow: hidden;
      position: relative;
    }
  }
}

#cropbox {
  width: 300px;
}

#part_template {
  position: absolute;
  width: 300px;
  top: 0px;
  left: 0px;
  z-index: 10;
}

#preview {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}