<table class="table">
  <thead>
  <tr>
    <th>Session</th>
    <th>Portrait</th>
    <th>created_at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% sessions.each do |session| %>
      <tr>
        <td><%= link_to session.name, my_studio_session_path(session) %></td>
        <td><%= session.portraits.count.to_words %></td>
        <td><%= session.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>
