// Place all the styles related to the Studio::overviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "blueprint";
@import "widget";

h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  letter-spacing: -1px;
  margin-bottom: 5px;
}
