<h1>Welcome <%= @email %></h1>

<p>to Kimbra's ClickPLUS program for professional photography studios.</p>

<p>Login with your email address and your password: <%= @password %></p>

<p>Go to the site and start creating sessions and uploading pictures <%= link_to 'Kimbra ClickPLUS', 'http://localhost:3000' %>.</p>


<p>(Sent to <%= @studio.name %>)</p>