<div class="row span10">

  <h2><%= t(:admin_merchandise_pieces_edit_title, name: @admin_merchandise_piece.name) %></h2>

  <%= render 'form' %>

</div>

<div class="row span9">
  <%= link_to t(:show), @admin_merchandise_piece, class: "btn btn-primary" %> |
  <%= link_to t(:back), admin_merchandise_pieces_path, class: "btn btn-primary" %>
</div>
