<h1><%= t(:admin_merchandise_pieces_edit_title) %></h1>
<div class="platypus-form-container large">

  <%= render 'form' %>

  <div class="clear-both"></div>

  <%= link_to t(:show), @admin_merchandise_piece, class: "btn btn-primary" %> |
  <%= link_to t(:back), admin_merchandise_pieces_path, class: "btn btn-primary" %>
</div>
