---
layout: default
comments: true
---

<section class="group1">
    <h3>{{ page.title }}</h3>
    {% author_image %}
    <h4>
        <span>{{ page.date | date_to_string }}</span>
    </h4>

    {{ content }}

    {% if page.comments %}
    <div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
</section>

<script type="text/javascript">
    var disqus_identifier = "{{ page.title }}";
</script>