<div class='row'>
  <div class='span12'>
    <%= render 'my_studio/dashboards/sessions', sessions: @sessions %>
  </div>
  <div class='span12'>
    <%= render 'my_studio/dashboards/emails', sessions: @sessions %>
  </div>
  <div class='span12'>
    <%= render 'my_studio/dashboards/ready', sessions: @sessions, emails: @emails %>
  </div>
  <div class='span6'>
    <%= link_to image_tag('kimbra_logo.png') %>
  </div>
</div>
