<h1><%=t(:my_studio_staffers_edit_title)%></h1>

<%= render 'form' %>

<%= link_to t(:show), @my_studio_staffer, class: "btn btn-primary" %> |
<%= link_to t(:back), my_studio_staffers_path, class: "btn btn-primary" %>
