<div class='side-menu'>
  <table>

    <% offers.each_with_index do |offer, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= div_image_offer(offer) %></td>
        </tr>
    <% end unless offers.nil? %>
  </table>
</div>
