<h2><%= t(:admin_customer_emails_edit_title) %></h2>

<%= render 'form' %>

<div class='show'>
  <%= link_to t(:show), @admin_customer_email %> |
  <%= link_to t(:back), admin_customer_emails_path %>
</div>
