<h1><%= t(:admin_customer_emails_edit_title) %></h1>

<div class="platypus-form-container large">
  <%= render 'form' %>
</div>

<div class='show'>
  <%= link_to t(:show), @admin_customer_email %> |
  <%= link_to t(:back), admin_customer_emails_path %>
</div>
