<div class="row span10">

  <h2><%= t(:admin_customer_emails_new_title) %></h2>

  <%= render 'form' %>

</div>
<div class="row span10">
  <%= link_to t(:back), admin_customer_emails_path, class: "btn btn-primary" %>
</div>
