<h1>Listing mailing_addresses</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mailing_addresses.each do |mailing_address| %>
  <tr>
    <td><%= link_to 'Show', mailing_address %></td>
    <td><%= link_to 'Edit', edit_mailing_address_path(mailing_address) %></td>
    <td><%= link_to 'Destroy', mailing_address, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mailing address', new_mailing_address_path %>
