// Place all the styles related to the Admin::Customer::Emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.show {width: 80%;}
div.image-thumb{ float:right;}
div.field textarea {height: 100px;}