<div class="row span12">

  <h2>Editing user</h2>

  <%= render 'form' %>

  <%= link_to translate(:show), @user, class: 'btn btn-primary' %> |
  <% url = current_user.admin? ? users_path : my_studio_overview_path %>
  <%= link_to translate(:back), url, class: "btn btn-primary" %>
</div>