<div class="row span8">

  <h2><%= t('.title') %></h2>

  <%= render 'form' %>

  <%= link_to translate(:show), @user, class: 'btn btn-primary' %> |
  <% url = current_user.admin? ? users_path : my_studio_overview_path %>
  <%= link_to translate(:back), url, class: 'btn btn-primary' %>
</div>