<% if record and record.errors.present? %>
    <div class="alert error rounded row span12">
      <i class="icon-hand-right"> </i>
      <button type="button" class="close" data-dismiss="alert">close x</button>
      <ul>
        <% messages = record.to_error_messages if record.respond_to?(:to_error_messages) %>
        <% messages ||= record.errors.full_messages %>
        <% messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>