<div id="footer_minisite_wrapper" class='bp'>
  <div class="centered_container" id="footer">
    <ul id='main-footer-tabs'>
      <li>
        <%= link_to_unless_current 'Privacy',
                                   privacy_minisite_email_path(@admin_customer_email.tracking) %>
      </li>
      |
      <li>
        <%= link_to_unless_current 'Contact us',
                                   contact_minisite_email_path(@admin_customer_email.tracking) %>
      </li>
    </ul>
  </div>
</div>