<h1>Welcome Index</h1>
<div id='left_side_panel' class='span-6 last'>

  <%= link_to 'Register a Studio', new_studio_registration_path %>

  <div class='ar-widget'>
    <h3 style='text-align:left;'> Studio Addresses </h3>
    <%= link_to 'View My Addresses', studio_addresses_path %>
  </div>

  <div class='ar-widget'>
    <h3 style='text-align:left;'> Studio Clients </h3>
    <%= link_to 'View My Clients', studio_users_path %>
  </div>

&nbsp;
</div>

<div id='featured_item' class='span-18 last'>
  <%= image_tag 'home.png' %>
</div>

