<h1>Editing my_studio_client</h1>

<%= render 'form' %>

<%= link_to t(:show), @my_studio_client, class: "btn btn-primary" %> |
<%= link_to t(:back), my_studio_clients_path, class: "btn btn-primary" %>
