<div class='side-menu'>
  <table>
    <tr><td>Portrait:</td></tr>
    <tr><td><%= cw_div_image(portrait) %></td></tr>
    <tr><td>Face:</td></tr>
    <tr><td><%= cw_div_image(portrait, :version => :face) %></td></tr>
  </table>
</div>
