<h1>Editing my_studio_portrait</h1>

<%= render 'form' %>

<%= link_to 'Show', my_studio_session_portrait_path(@my_studio_session, @my_studio_portrait) %> |
<%= link_to 'Back', my_studio_session_portraits_path(@my_studio_session) %>
