<div class="row span12">

  <h2><%= t(:my_studio_portraits_index_title, name: @my_studio_session.client.name, category: @my_studio_session.category.name) %></h2>

  <h3><%= feedback_for @record_count %></h3>
  <%= actions_for_portraits(@my_studio_session) %>
  <%= render "form" %>

</div>