<h2>
  <%= t('.title', :name => @my_studio_session.try(:name)) %>
</h2>
<div class="platypus-form-container">

  <%= render 'form_multiple' %>

  <%= link_to t(:back), my_studio_session_portraits_path(@my_studio_session), class: "btn btn-primary" %>

</div>