<h1>
  <%= t(:my_studio_portraits_new_title, :name => @my_studio_session.try(:name)) %>
</h1>
<div class="platypus-form-container">

  <%= render 'form' %>

  <%= link_to t(:back), my_studio_session_portraits_path(@my_studio_session) %>

</div>