<div class='shopping_heading'>
  <h2>1. Delivery Details</h2>
  <table align='center'>
      <tr>
        <td>
          <%= render 'shopping/addresses/show', address: @cart.address %>
        </td>
      </tr>
    </table>
</div>

<div class='shopping_heading'>
  <h2>2. Shipping Options</h2>
  <%= render 'form' %>
  <%= link_to 'Back', edit_shopping_address_path(@cart.address.id) %>
</div>

<div class='shopping_heading'>
  <h2>3. Credit Card</h2>
</div>

<div class='shopping_heading'>
  <h2>4. Finished!</h2>
</div>