<div class='row'>
  <h2>1. Delivery Details</h2>
  <table align='center'>
      <tr>
        <td>
          <%= render 'shopping/addresses/show', address: @cart.address %>
        </td>
      </tr>
    </table>
</div>

<div class='row'>
  <h2>2. Shipping Options</h2>
  <%= render 'form' %>
</div>

<div class='row'>
  <h2>3. Credit Card</h2>
</div>

<div class='row'>
  <h2>4. Finished!</h2>
</div>