<div class='shopping_heading'>
  <h1>1. Delivery Details</h1>
  <table align='center'>
    <tr>
      <td>
        <%= render 'shopping/addresses/show', address: @cart.address %>
      </td>
    </tr>
  </table>
</div>

<div class='shopping_heading'>
  <h1>2. Shipping Options</h1>
  <%= render 'form' %>
  <%= link_to 'Back', edit_shopping_address_path(@cart.address.id) %>
</div>

<div class='shopping_heading'>
  <h1>3. Credit Card</h1>
</div>

<div class='shopping_heading'>
  <h1>4. Finished!</h1>
</div>