<div class="row-fluid">
  <div class="span6">
    <%= render 'form' %>
  </div>
  <div class="span3">
    <div class="shopping-details">
      <h5><%= t('shopping.shared.breadcrumb.address.link') %></h5>
      <%= render 'shopping/addresses/show', address: @cart.address %>
    </div>
    <%= render 'shopping/shared/slides' %>

  </div>
</div>



