<!-- Modal -->

<div id="mySendOfferEmail" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t('.title') %></h3>
  </div>

  <div class="modal-body">
    <p>
      <%= t('.p1_html') %>
    </p>

    <div class="modal-footer form-actions">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</div>
