<% if @admin_customer_friend.errors.any? %>
<% lis = @admin_customer_friend.errors.full_messages.collect{|msg| "<li>#{ msg}</li>"}.join(' ') %>
<%  html = "<h4> #{pluralize(@admin_customer_friend.errors.count, "error")} prohibited from being saved:</h4><ul>#{lis}</ul>" %>
$('#error_explanation').html("<%= escape_javascript(html.html_safe)%>");

<% else %>
    $('#myTitle').html("<%= t('minisite.offers.index_custom.title_friend_html', name: @admin_customer_friend.name) %>");
    $('#myModal').modal('toggle');
<% end %>
