<div class="page-header">
  <h2>Contact ClickPLUS</h2>

  <p>The easiest way is to click the chat tab on the bottom of the page if you are logged in.</p>

  <p>
    Call us direct 9am - 7pm Eastern<br/>
    (303) 586-1371 or Skype us at KimbraClickPLUS
  </p>

  <p>Or email us at  <%= mail_to 'Support@KimbraClickPLUS.com' %></p>

</div>