<h2>We are excited about our launch date coming soon!</h2>

<div class="platypus-form-container">

  <p>
    Until then, we are in limited enrollment with a few selected studios. We are starting first in the Tampa, FL region.
  </p>

  <p>
    Please submit your email address and we will keep you updated about our official launch date and upcoming activities.
  </p>

  <%= form_for(@prospect) do |f| %>

      <div class="field">
        <%= f.label :email %>
        <br/>
        <%= f.text_field :email %>
      </div>

      <div class="actions">
        <%= f.submit 'Submit' %>
      </div>

  <% end %>
</div>