<div class="span3">
  <%= form_tag new_my_studio_session_path, method: :get, class: "pull-right" do %>
      <button type="submit" class="btn btn-success">
        <i class="icon-plus icon-white"/>
        <%= t(:my_studio_sessions_new_link) %>...
      </button>
  <% end %>
</div>