<h4>
  <%= t(:my_studio_sessions_index_title, name: '') %>
</h4>

<div class="row">
  <% unless is_admin? %>
    <%= render 'new_session_button' %>
  <% end %>
</div>

<%= render 'my_studio/sessions/index', sessions: @sessions %>