// Form overrides for Shopping Module Forms that enter billing, credit card, and shipping

div.platypus-form{

  background: white;
  @include rounded-corners(10px);
  border: 2px outset black;

  div.control-group label.control-label{
    // a little above normal
    font-weight: 500;
  }

  .form-horizontal .control-group {
    // close up tthe rows (bootstrap has 20px;)
    margin-bottom: .5em;
  }

  .form-horizontal .controls {
    // close up the label with the input elements (bootstrap has 180px)
    margin-left: 170px;
  }
}
div.shopping-details{
  h5 {
    margin: 10px 0px 0px 0px;
  }
  p {
    text-align: left;
    padding: 5px 0px 13px 0px;
  }
}
