#footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear: both;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 106%;
  background: url("header/bg-header-wrap.png") repeat-x scroll center top #FFFFFF;
  text-align: center;
  ul{
    padding-top: 10px;
  }
  li {
    display: inline;
    list-style: none;
    color: #AA5555;
    padding: 3px;
    a {
      color: #828282;
    }
    a:hover {
      color: #AA5555;
    }
    .selected {
      color: #AA5555 !important;
    }
  }
  li:hover {
    color: #AA5555;
  }
}