/*
 * This is a manifest file that will automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jcrop
 *= require_tree ../stylesheets/admin
 *= require_tree ../stylesheets/my_studio
 *= require_tree ../stylesheets/studio
 *= require_tree ../stylesheets/jcrop
 *= require _footer
 *= require _widget
 *= require _common
 *= require devise
 *= require scaffolds
 *= require blueprint
 *= require_self
*/

@import "_common";

html, body {
  height: 100%;
}

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

body, button, input, select, textarea {
  /*font: 13px/17px Arial, sans-serif;*/
}
p  { font-size: 1em;    margin: .8em  0; }

.bp {
  /*height: 27px; LDB:? do we need this height here?*/
}

div#body_wrapper {
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 960px;  /* was 80% */

  div#header_wrapper,
  div#footer_wrapper {

  }
  div#header_wrapper {
  }

  div#flash_wrapper {
    padding: 5px 0 0 5px;

  }
  div#content_wrapper {
    padding: 5px 0 50px 5px;
  }
}

.align_right {
  text-align: right;
}

textarea {
  height: 100px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}

.ui-timepicker-div dl {
  text-align: left;
}

.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
  font-size: 90%;
}

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

select,
textarea,
input[type="text"] {
/*background:url(button.png);*/
/*text-indent: -9999em;*/
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.95em;
}

input[type="submit"] {
/*background-color: #ffda75; *//* form header */
/*background:url(button.png);*/
/*text-indent: -9999em;*/
  font-size: 1.0em;
}

input {
  border: 1px solid #cccccc;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 2px 3px 0 #ebebeb inset;
  font-size: 1.0em;
  padding: 6px 10px;
}

.likabutton,
.button-link {
  padding: 10px 15px;
  background: #4479BA;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.likabutton:hover,
.button-link:hover {
  background: #356094;
  border: solid 1px #2A4E77;
  text-decoration: none;
}

.likeabutton:active
.button-link:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2E5481;
  border: solid 1px #203E5F;
}

div.shopping-item-index {
  overflow: hidden;
  margin: auto;
  padding: 10px;
}

#stripe_error {
  display: none;
}

#spinner {
  padding: 0 0 0 20px;
  margin-left: 20px;
  display: inline;
}

.spinner {
  display: inline;
}

.portraits {
  width: 800px;
  margin: auto;
}

.portrait-pick {
  display: inline;
}

.portrait-pick a {
  display: inline;
}

.portrait-pick a div.image-thumb {
  display: inline;
}

.motivation {
  font-size: 26px;
  color: silver;
  padding: 10px 20px 10px 0;
}

form.button_to {
  margin: 0;
  padding: 0;
  display: inline;
}

form.button_to div, form.button_to div input {
/*   display:inline;    */
}

div#main_nav {
  clear: both;
  background-color: lightgrey;
  color: slategrey;
  font-style: bold;
  font-size: 1.1em;
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  @include rounded-corners(5px);
  padding: 1.2em 1em;

}

div.menu_item, div.menu_item_right {
  float: left;
  padding: 3px 20px 3px 5px;
  a {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.0em;
  }
  a:hover{
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
  }

  a:active{
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
  }
  a.selected{
    background: #2E5481 !important;
  }
}

div.menu_item_right {
  float: right;
  padding: 3px 20px 3px 5px;
}

.flash_notice, .flash_error {
  font-size: 1.5em;
}

h1.logo a {
  text-decoration: none;
}

/* generic div allowing a left and right side to fill container */
div {
  .left-side {
    float: left;
  }
  .right-side {
    float: right;
  }
  .clear-both {
    clear: both;
  }
}
