/*
 * This is a manifest file that will automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jcrop
 *= require_tree ../stylesheets/admin
 *= require_tree ../stylesheets/my_studio
 *= require_tree ../stylesheets/studio
 *= require_tree ../stylesheets/jcrop
 *= require _footer
 *= require _widget
 *= require _common
 *= require devise
 *= require lightbox
 *= require_self
*/

@import "_common";
@import "global/form";
@import "global/show";


// bootstrap info and error message containers
div.error,
div.info{
  @include rounded-corners(5px);
}

#flash_wrapper {
  position: fixed;
  top: 50px;
}

// DataTables extras
div.dataTables_length label {
  float: left;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
}

div.dataTables_info {
  padding-top: 8px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table {
  margin-bottom: 6px !important;
  clear: both;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}

.sorting { background: url('/images/sort_both.png') no-repeat center right; }
.headerSortUp { background: url('/images/sort_asc.png') no-repeat center right; }
.headerSortDown { background: url('/images/sort_desc.png') no-repeat center right; }

.spin{
  display: inline-block;
}

.datatables-hidden {
  display: none;
}

.odd .inactive {
  background-image: url('/assets/grid.png');
  background-color: #E2E4FF;
}

.even .inactive {
  background-image: url('/assets/grid.png');
  background-color: #FFFFFF;
}

// end of DataTables

.id {text-align: right !important;}

// Used for slideshow on Home page to prevent overlap with text on tablets.
.overflow-hidden {
  overflow: hidden;
}