// Place all the styles related to the Studios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {margin: 0 0 0.8em;}