<h4><%= t('.title') %></h4>

<p>
  <%= link_to image_tag('sample/herald_t.png', alt: 'sample herald email', title: t(:img_title_view)), '/assets/sample/herald.png', class: 'lb_sample' %>
  <br/>
  <%= t('.body') %>
</p>
