  <h4>Sample Client Offer Email</h4>

  <p>
    Portraits are used when creating a custom heirloom jewelry piece for your client.
  </p>

  <p>
    <%= link_to image_tag('sample/email_t.png', alt: 'sample personalized offer email'), '/assets/sample/email.png', class: 'lb_sample' %>
    <br/>
    Personalized offer email is sent after you have uploaded at least 5 portraits and we have custom cropped and
    positioned each portrait into selected jewelry pieces.
  </p>

  <p>
    <br/>All the delightful wedding photographs on these sample pages are by
    <%= link_to 'Sean Choe', 'http://www.flickr.com/photos/bogomo/' %> and used under Creative Commons license.
    <br/>StudioOne Photography is a fictional photography studio.
  </p>
