<h2><%= t(:my_studio_infos_edit_title) %></h2>

<%= render 'form' %>

<%= link_to t(:show), @my_studio_info, class: "btn btn-primary" %> |
<%= link_to t(:back), my_studio_infos_path, class: "btn btn-primary" %>
