<h1>FAQ</h1>

<p>
  <b>What kind of portraits should I upload?</b>
  <br/>
  Soon, we'll have special processing for pets, memorials, and holiday ornaments - until then please upload portraits
  of babies, children and adults. Any portrait with a single subject or several subjects can work well because we can
  zoom in and create compositions with drama and graphic impact.
</p>

<p>
  <b>Should I crop the portraits in preparation for the jewelry?</b>
  <br/>
  No need! We really want to make the process as simple and easy as possible for you. We will take care of selecting the
  right jewelry pieces for the portraits you upload and attractively cropping the portraits -- especially useful for
  taking group shots and creating bracelets with multiple related single portraits. When your client clicks through to
  your branded mini website, they can adjust the cropping of the portrait in the pieces they select, and select from any
  of the portraits you have uploaded. This can dramatically change the piece and make it irresistable to their friends
  and families.
</p>

<p>
  <b>What happens when my client forwards their email to their friends and family?</b>
  <br/>
  A couple things: you brand is being marketed by word of mouth - priceless! Also you gain commissions from all of those
  referral sales. Interestingly, when your client makes changes to the framing and composition of their offer pieces,
  those changes are automatically incorporated in the emails that are forwarded.
</p>

<p>
  <b>How many portraits should I upload for a client session?</b>
  <br/>
  6 is a great number. We won't send an offer email until you have uploaded at least 5 portraits for a client.
</p>

<p>
  <b>How long does it take you to send the personalized offer email?</b>
  <br/>
  We personalize the offer email, do all the cropping and send the offer email within a day of you uploading your fifth
  portrait for a client.
</p>

<p>
  <b>I do NOT want to spam my client with unwanted email. What do you do to prevent that?</b>
  <br/>
  Every email has an instant unsubscribe link and we follow all anti-spam best practices. Everyone hates spam, including
  us!
</p>

<p>
  <b>How do I know when my client has received their email?</b>
  <br/>
  Check your dashboard. It will show you when your client received their email, opened it, clicked through, and
  purchased items. We are working on my statistics to track your clients forwarding their emails to their friends and
  family, and other useful items.
</p>

<p>
  <b>What if my client wants to use a different photo for their jewelry?</b>
  <br/>
  We want your clients to use <i>your</i> portraits! We allow your client to replace the portrait in a jewelry piece
  with any of the portraits you have uploaded - that's a lot of choice available right there.
</p>

<p>
  <b>This is a good start, but what about ongoing marketing campaigns for my clients?</b>
  <br/>
  Yep, we're working on that! The next step will probably be an automated campaign for Chriskwanzakkah (Ilove that
  holiday!). Then we'll work on anniversary offers for your clients and then a rolling set for campaigns for major
  holidays. These are the gifts that keep giving -- to you and your clients. We recognize the very delicate balance
  between maximizing your returns versus bugging your clients too much.
</p>

<p>
  <b>What if I have other questions or suggestions?</b>
  <br/>
  Tell us!! We are building this platform for <i>you</i> -- the professional photography studio. Please tell us what
  works well for you and how we can make it better.
</p>