<h1><%= t(:admin_customer_offers_edit_title) %></h1>

<div class="platypus-form-container large">

  <%= render 'form' %>
</div>

<div class="show">
  <%= link_to t(:show), admin_customer_email_offer_path(@email, @admin_customer_offer) %> |
  <%= link_to t(:back), admin_customer_email_offers_path(@email) %>
</div>
