<div class='row'>
  <h2>1. Delivery Details</h2>
  <div class="row span6">
        <%= render 'shopping/addresses/show', address: @cart.address %>
  </div>
</div>

<div class='row'>
  <h2>2. Shipping Options</h2>
  <div class="row span6">
        <%= render 'shopping/shippings/show', shipping: @cart.shipping %>
  </div>
</div>

<div class='row'>
  <h2>3. Review and Credit Card</h2>
  <%= render 'form' %>
</div>

<div class='row'>
  <h2>4. Finished!</h2>
</div>