<p>
  <b>Cart:</b>
  <%= @purchase.cart %>
</p>

<p>
  <b>Tax:</b>
  <%= @purchase.tax %>
</p>

<p>
  <b>Total:</b>
  <%= @purchase.total %>
</p>


<%= link_to 'Edit', edit_cart_shopping_purchase_path(@purchase.cart) %> |
