<h2>Contact us</h2>

<table width="500" cellspacing="0" cellpadding="4" border="0" align="center">
  <tbody>
  <tr>
    <td align=center>
      <div style="text-align:center;width:100%">

        <p>Contact for <%= @studio.name %>...</p>

        <p>Contact for Kimbra Studios Click+ Program...</p>

      </div>
    </td>
  </tr>
  </tbody>
</table>