<h2>Our returns policy and other details</h2>

<table width="500" cellspacing="0" cellpadding="4" border="0" align="center">
  <tbody>
  <tr>
    <td align=center>
      <div style="text-align:justify;width:100%">

        <p>When am I charged for my order?<br/>

          » Because each piece is custom made and we begin production immediately, your credit card will be authorized
          and charged as soon as you place your order.</p>

        <p>Is your silver jewelry solid sterling?<br/>

          » Yes. All of our silver jewelry is .925 solid sterling silver fine jewelry, not silver-plated. We recommend
          polishing once a month. Other pieces are solid pewter or bronze. Complete cleaning instructions will accompany
          your purchase. Each piece is handcrafted and truly an heirloom to be treasured.</p>

        <p>Do I put the photos in myself?<br/>

          » No. We do all the work for you and we seal each piece so that you have a beautiful, heirloom
          piece of jewelry that will last a lifetime.</p>

        <p>Can I get the photo wet?<br/>

          » Yes. Kimbra Studios jewelry is made to last a lifetime. You can wear your jewelry in the shower, doing
          dishes, swimming. We do not suggest spraying hairspray, perfumes or sunscreens on the jewelry.</p>

        <p>Can you send me a blank piece of jewelry?<br/>

          » All of our designs are exclusively made for Kimbra Studios and most are copyrighted designs. We do not sell
          pieces blank.</p>

        <p>How do I care for or keep my jewelry clean?<br/>

          » Sterling Polishing Cloths are a great way to polish up your sterling silver pieces.
          Jewelry can be soaked in a phosphate free dishwashing detergent. Appropriate storing of jewelry is very
          important and care instructions are included with your piece.</p>

        <p>How does my order come packaged?<br/>

          » Our jewelry arrives in a plastic polybag with a tarnish tab inside a gray satin pouch with Kimbra Studios'
          logo on the front.</p>

        <p>What is your return policy?<br/>

          » All products are guaranteed against defects in materials and workmanship for 30 days from shipment. If you
          need to return a product, please send an e-mail to
          <%= mail_to 'Support@KimbraClickPLUS.com', 'Support@KimbraClickPLUS.com', encode: :javascript %>.
          Appropriate storing of jewelry is very important and care instructions are included with your piece.
          We will remake unsatisfactory products returned within 30 days, but we do not offer refunds.</p>

        <p>What is your customer satisfaction guarantee?<br/>

          » If you are not satisfied with your purchase, return it within 30 days and we will remake it with same jewelry pieces,
          and same portraits at no additional cost.</p>

        <p>What is your cancellation policy?<br/>

          » We immediately begin making your order. Because of the custom nature of our products, orders cannot be
          cancelled once they have been placed.</p>

        <p>Can you update me on the status of my order?<br/>

          » In order to check on the status of your order, simply click on the order status link in your email receipt.
          If you have further questions you can email
          <%= mail_to 'Support@KimbraClickPLUS.com', 'Support@KimbraClickPLUS.com', encode: :javascript %>
          and we'll get back with you quickly.</p>

        <p>How are Kimbra Studios orders delivered?<br/>

          » All domestic orders are sent to the address you specify via UPS Ground.</p>

        <p>How long will it take to receive my order?<br/>

          » We make these pieces by hand. Your customized Kimbra Studios order will take approximately 10-15 business
          days to be completed and
          shipped. Currently, expedited orders are not available.</p>

        <p>Can a finished Kimbra Studios order be delivered to someone else?<br/>

          » No, we currently send the pieces only to the biling address.</p>

        <p>How will I know when my order ships?<br/>

          » We will e-mail you a shipping confirmation when your order ships. If tracking service is available, we
          include the Tracking number in your Shipping Confirmation e-mail.</p>
        </p>

      </div>
    </td>
  </tr>
  </tbody>
</table>