<table width="500" cellspacing="0" cellpadding="4" border="0" align="center">
  <tbody>
  <tr>
    <td align=center>
      <h1>You are unsubscribed.</h1>

      <p>Sorry we sent you unwanted email.</p>
    </td>
  </tr>
  </tbody>
</table>